version: '3'
services:
  mysql_server:
    # container_name: mysql_server
    image: mysql:latest
    restart: always

    ports:
      - 3306:3306

    environment:
     - MYSQL_ROOT_PASSWORD=root
     - MYSQL_ROOT_PASSWORD=password
     - MYSQL_DATABASE=testdb 
  


  phpmyadmin_client:
    # container_name: phpmyadmin_frontend
    image: phpmyadmin:latest
    restart: always

    environment:
     PMA_HOST: mysql_server
     PMA_USER: root
     PMA_PASSWORD: password

    ports:
      - 80:80
